<h1><%= @motorcycle_manufacturer.name %></h1>
<p>Headquarters: <%= @motorcycle_manufacturer.headquarters %></p>
<p>USA made?: <%= @motorcycle_manufacturer.usa_made %></p>
<p>Total models all time: <%= @motorcycle_manufacturer.total_models_all_time %></p>
<p>Created at: <%= @motorcycle_manufacturer.created_at %></p>
<p>Updated at: <%= @motorcycle_manufacturer.updated_at %></p>
<p>Motorcycles: <%= @motorcycle_manufacturer.motorcycles.count %></p>
