<h1><%= @motorcycle_manufacturer.name %></h1>

<p>Headquarters: <%= @motorcycle_manufacturer.headquarters %></p>
<p>USA made?: <%= @motorcycle_manufacturer.usa_made %></p>
<p>Total models all time: <%= @motorcycle_manufacturer.total_models_all_time %></p>
<p>Motorcycles: <%= @motorcycle_manufacturer.motorcycles.count %></p>
<p><a href= '/motorcycle_manufacturers/<%= @motorcycle_manufacturer.id %>/motorcycles'>Motorcycles list</a></p>

<p><%= button_to "Edit #{@motorcycle_manufacturer.name}", "/motorcycle_manufacturers/#{@motorcycle_manufacturer.id}/edit", method: :get %>
