<h1><%= @game_studio.studio_name %> Games</h1>

<%= form_with url: game_studio_games_path(@game_studio.id), method: :get, local: true do |form| %>
  <%= form.label :search, "Search by cost:" %>
  <%= form.number_field :search, required: true %>
  <%= form.submit "Search for games greater than cost entered" %>
<% end %>

<p>Sort by: 
<%= link_to 'Name', order: 'name' %>,
<%= link_to 'Cost', order: 'cost' %>
</p>

<% @games.each do |game| %>
	<h3><%= link_to game.game_name, game_path(game.id) %></h3>
  <p>Game cost: <%= game.game_cost %></p>
  <p>Game genre: <%= game.genre %></p>
  <p>Multiplatform?: <%= game.multiplatform %></p>
  <p>Created at: <%= game.created_at %></p>
  <p>Updated at: <%= game.updated_at %></p>
  <p><%= link_to "Edit #{game.game_name}", edit_game_path(game.id) %></p>
<% end %>

<%= link_to 'Create Game', new_game_studio_game_path(@game_studio.id) %>
