<h1>Games</h1>

<% @games.each do |game| %>
	<h3><a href= "/games/<%= game.id %>"><%= game.game_name %></a></h3>
    <p>Game cost: <%= game.game_cost %></p>
    <p>Game genre: <%= game.genre %></p>
    <p>Multiplatform?: <%= game.multiplatform %></p>
    <p>Created at: <%= game.created_at %></p>
    <p>Updated at: <%= game.updated_at %></p>
    <p>Game studio: <%= game.game_studio_id %></p>
<% end %>