<h1><%= @game_studio.studio_name %></h1>

<p>Employee Count: <%= @game_studio.employee_count %></p>

<p>Hiring?: <%= @game_studio.hiring %></p>

<p>Created at: <%= @game_studio.created_at %></p>

<p>Updated at: <%= @game_studio.updated_at %></p>

<p>Games: <%= @game_studio.games.count %></p>

<p><a href= '/game_studios/<%= @game_studio.id %>/games'>Games list</a></p>

<p><%= button_to "Update #{@game_studio.studio_name}", "/game_studios/#{@game_studio.id}/edit", method: :get %></p>