<h1><%= @game_studio.studio_name %></h1>

<p>Employee Count: <%= @game_studio.employee_count %></p>

<p>Hiring?: <%= @game_studio.hiring %></p>

<p>Created at: <%= @game_studio.created_at %></p>

<p>Updated at: <%= @game_studio.updated_at %></p>