<h1><%= @motorcycle_manufacturer.name %> Motorcycles</h1>

<%= link_to "Create Motorcycle", "/motorcycle_manufacturers/#{@motorcycle_manufacturer.id}/motorcycles/new" %>
<%= link_to "Sort A - Z", "/motorcycle_manufacturers/#{@motorcycle_manufacturer.id}/motorcycles?order=alphabetical" %>

<% @motorcycles.each do |motorcycle| %>
  <h3> <%= motorcycle.model %></h3>
  <p>Price: <%= motorcycle.price %></p>
  <p>Electric?: <%= motorcycle.electric %></p>
  <p>Motorcycle manufacturer id: <%= motorcycle.motorcycle_manufacturer_id %></p>
  <p><%= link_to "Edit #{motorcycle.model}", "/motorcycles/#{motorcycle.id}/edit" %></p>
<% end %>
