<!DOCTYPE html>
<html>
  <head>
    <title>RelationalRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <nav>
        <a href="/game_studios">Game Studios</a>
        <a href="/games">Games</a>
        <a href="/motorcycle_manufacturers">Motorcycle Manufacturers</a>
        <a href="/motorcycles">Motorcycles</a>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
